@using Microsoft.AspNetCore.Identity
@using TestGenerator.Model.Entities

@inject SignInManager<User> SignInManager

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarNav">
        <ul class="navbar-nav col">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Exams" asp-action="Index">Examens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Modules" asp-action="Index">Modules</a>
                </li>

                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Questions" asp-action="Index">Questions</a>
                    </li>
                }
            }
        </ul>
        <ul class="navbar-nav justify-content-end col">
            <partial name="_LoginPartial" />
        </ul>
    </div>
</nav>