@using TestGenerator.Model.Entities
@model Question

@{
    ViewData["Title"] = $"{Model.Text} - Suppression"; ;
}
<div class="row mt-5 justify-content-center">
    <div class="col-10">
        <h2>Voulez-vous vraiment supprimer la question "@Model.Text" ?</h2>
        <hr />
        <h3>Cette question est utilisées dans les éléments suivants: </h3>

        <h4 class="mt-5">Examens</h4>
        <ul>
            @foreach (var exam in @Model.Exams)
            {
                <li><a asp-controller="Exams" asp-action="Details" asp-route-id="@exam.ExamId">@exam.Exam.Name</a></li>
            }
        </ul>

        <hr class="mt-5" />

        <form asp-action="Delete">
            <input type="hidden" asp-for="ModuleId" />
            <input class="btn btn-danger" type="submit" value="Supprimer la question" />
            <a class="btn btn-outline-primary" asp-action="Index">Retour à la liste</a>
        </form>
    </div>
</div>