@model IEnumerable<TestGenerator.Model.Entities.Question>

@{
    ViewData["Title"] = "Questions";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Créer une question</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Text
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
