@model ModuleCreationViewModel

@{
    ViewData["Title"] = "Créer un module d'évaluation";
}

<div class="container mt-4">
    <h1>Ajouter un module d'évaluation</h1>

    <div class="row mt-3">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Créer un module" class="btn btn-primary"/>
                    <a class="btn btn-outline-primary" asp-action="Index">Retour à la liste</a>
                </div>
            </form>
        </div>
    </div>
</div>