@model TestGenerator.Model.Entities.Module

@{
    ViewData["Title"] = $"Edition - {Model.Title}";
}

<h1>@Model.Title</h1>
<p class="text-muted">Edition</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ModuleId" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Enregistrer"/>
                <a class="btn btn-outline-primary" asp-action="Index">Retour à la liste</a>

            </div>
        </form>
    </div>
</div>
