@using Microsoft.AspNetCore.Identity
@using TestGenerator.Model.Entities

@model IEnumerable<Module>

@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h2>Modules</h2>

<div class="container">

    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Administrator"))
        {
            <p>
                <a class="btn btn-primary" asp-action="Create">Créer un Module</a>
            </p>
        }

        <div class="row row-cols-3 row-cols-md-2">

            @foreach (var module in Model)
            {
                <div class="col-4 mt-3 mb-3">
                    <partial Name="_ModuleCardPartial" model="@module"/>
                </div>
            }
        </div>
    }
</div>