@model TestGenerator.Web.Models.AnswerCreationViewModel

<td>
    @Html.TextBoxFor(x => x.Text, new { @class = "form-control", @readonly = true})
    @Html.ValidationMessageFor(x => x.Text)
</td>
<td>
    @Html.CheckBoxFor(x => x.IsValid, new { @class = "form-control rdb" })
    @Html.ValidationMessageFor(x => x.IsValid)
</td>