@using Microsoft.AspNetCore.Identity
@using TestGenerator.Model.Entities

@model IEnumerable<Exam>

@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Examens";
}

<div class="container mt-4">
    <h2>Examens</h2>
    
    @if (User.IsInRole("Administrator"))
    {
        <a class="btn btn-primary" asp-action="Create">Créer un examen</a>
    }

    <div class="row row-cols-3 row-cols-md-2 mt-3">

        @foreach (var exam in Model)
        {
            <div class="col-4 mt-3 mb-3">
                <partial Name="_ExamCardPartial" model="@exam"/>
            </div>
        }
    </div>
</div>