@using Microsoft.AspNetCore.Identity
@using TestGenerator.Model.Entities

@model IEnumerable<Exam>

@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h2>Examens</h2>

<p>
    <a asp-action="Create">Créer un examen</a>
</p>
@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Administrator"))
    {

        <table class="table">
            <thead>
            <tr>
                <th>Examen</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.QuestionId">Modifier</a> |*@
                        <a asp-action="Details" asp-route-id="@item.ExamId">Details</a> |
                        @*<a asp-action="Delete" asp-route-id="@item.QuestionId">Supprimer</a>*@
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
}